.jobs {
  display: flex;
  flex-direction: row;
}
.job-description {
  height: 260px;
  margin-left: 2rem;
}

.job-description h3 {
  color: var(--titulo1);
  padding-bottom: 6px;
  font-family: "Calibre", sans-serif;
  font-weight: 600;  
  font-size: 23px; 
}

.job-description h3 a {
  color: var(--verde);
  font-size: 23px; 
  text-decoration: none;
}

.job-description p {
  font-family: 'Fira Code','Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.job-description ul {
  padding-left: 30px;
  margin-top: 15px;
  margin-bottom: 10px;
  
}

.job-description ul li {
  font-size: 20px;
  list-style-type: none;
}

.job-description ul li::before{
  font-size: 20px;
  content: "▹";
  left: 0px;
  color: var(--verde);
  padding-right: 10px;
  
}


@media (max-width: 576px) {
  .jobs {
    display: block;
  }

  
  .jobs-slider {
    display: flex;
    border-bottom: 2px solid #233554;
    margin-bottom: 40px;
    margin-left: -2.1rem;
    margin-right: -2.1rem;
    overflow-x: auto;
    z-index: 1;
    position: relative;
    right:0;
  }
  
  .job-description {
    margin-left: 0;
    height: fit-content;
  }
  .job-description ul {
    padding-left: 0;
  }

  .jobs ul li {
    font-size: var(--mobileFontSizeText);
  }
}