@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
  --negro: #000;
  --azul: #1d3a8c;
  --azulClaro: #2563eb;
  --verde: #16a34a;
  --amarillo: #ca8a04;
  --gris: #9ca3af;


}
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}