@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: "Calibre";
  src: url("/Calibre-Regular.woff2")
  format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Calibre";
  src: url("/Calibre-Semibold.woff2")
  format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Calibre";
  src: url("/Calibre-Bold.woff2")
  format("woff2");
  font-weight: 700;
}

:root {
  --background: #0a192f;
  --verde: #64ffda;
  --texto: #8892b0;
  --mobileFontSizeText: 18px;
  --titulo1: #ccd6f6;
  --titulo2: #8892b0;
  --borderRadius: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: var(--background);
  color: var(--texto);
  scroll-behavior: smooth;
}

.inactive {
  display: none;
}

/*Estilos App genéricos*/
a {
  cursor: pointer;
  text-decoration: none;
  text-decoration-skip-ink: auto;
}

a:hover {
  text-decoration: underline;
}

p{
  padding-bottom: 12px;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  padding: 50px 150px;
  background-color: var(--background);
  font-family: "Calibre", sans-serif;
  font-weight: 400;
  font-size: 20px;
  counter-reset: section;
}

@media (max-width: 576px) {
  main {
    padding: 0 35px;
    max-width: 100vh;
  }

  main section:first-of-type p:last-of-type {
    font-size: var(--mobileFontSizeText);
  }

  section {
    max-width: 100%;
  }
}


h1 {
  font-family: "Calibre", serif;
  font-weight: 600;
  color: var(--titulo1);
  font-size: 80px;
}

h2 {
  font-family: "Calibre", sans-serif;
  font-weight: 600;
  color: var(--titulo2);
  line-height: 1;
  font-size: 80px;
}

section {
  margin: 0px auto;
  padding: 100px 0px;
  max-width: 1000px;
}


.big-heading {
  margin: 0px;
  font-size: clamp(40px, 8vw, 80px);
}

.mini-heading {
  font-family: 'Fira Code', 'Space Grotesk', sans-serif;
  font-weight: 400;
  color: var(--verde);
  padding-bottom: 25px;
  --animate-delay: 500ms;

}
.big-heading:nth-child(1) {
  --animate-delay: 700ms;
}
.big-heading:nth-child(2) {
  --animate-delay: 900ms;
}


#hero p {
  --animate-delay: 1100ms;
}

.know-me-button {
  font-size: 16px;
  font-family: 'Fira Code', 'Space Grotesk', sans-serif;
  font-weight: 400;
  color: var(--verde);
  background-color: transparent;
  border-radius: var(--borderRadius);
  border: 1px solid var(--verde);
  margin-left: 0;
  margin-top: 50px;
  padding: 1.25rem 1.75rem;
  cursor: pointer;
  font-size: 13px;
  --animate-delay: 1300ms;
}

main section:first-of-type p:last-of-type {
  margin: 20px 0px 0px;
  max-width: 540px
}

.about-me {
  display: grid;
  grid-template-columns: 30% 25% auto;
  gap: 50px;
}

.about-me-text {
  grid-column: 1 / 3;
}

.about-me img {
  border-radius: var(--borderRadius);
  grid-column: 3 / 4;
}

@media (max-width: 576px) {
  .about-me-text {
    grid-column: 1 / 4;
    font-size: var(--mobileFontSizeText);
  }
}

@media (max-width: 768px) {
  .about-me-text {
    grid-column: 1 / 4;
    font-size: var(--mobileFontSizeText);
  }

}

.skills-list {
  padding: 0px;
  margin: 20px 0px 0px;
  /* overflow: hidden; */
  font-family: 'Fira Code', 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
}

.skills-list li::before {
  content: "▹";
  left: 0px;
  color: var(--verde);
  padding-right: 10px;
}

#works {
  margin-top: 2rem;
}

/*Section Contacto*/
#next {
  text-align: center;
  width: 50%;
}

#next p:first-of-type {
  font-family: 'Fira Code', 'Space Grotesk', sans-serif;
  font-weight: 400;
  color: var(--verde);
  font-size: 20px;
  padding-bottom: 10px;

}

#next p:nth-of-type(2) {
  font-family: "Calibre", sans-serif;
  font-weight: 600;
  color: var(--titulo1);
  font-size: 70px;
  padding-bottom: 15px;
}

@media (max-width: 576px) {
  #hero {
    margin-top: 0px;
    padding-top: 45px;
  }
  #experience {
    margin-bottom: 5rem;
  }
  #works {
    margin-top: 0;
  }
  #next {
    width: 100%;
    margin-top: 0;
  }
  #next p:nth-of-type(2) {
    font-size: 40px;
  }


}

.developed-by {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Fira Code', 'Space Grotesk', sans-serif;
  font-weight: 400;
  color: var(--texto);
  font-size: 13px;
  padding: 30px 0;
}

.developed-by a {
  color: inherit;
  text-decoration: underline;
}

.developed-by a:hover {
  color: var(--verde);
}

.developed-by ul {
  display: none;
}

@media (max-width: 576px) {
  .developed-by ul {
    display: flex;
    list-style-type: none;
    margin-bottom: 1rem;
  }
  .developed-by ul li{
    padding: 0 1rem;
  }
}



/*Aquí puedo empezar a colocar todos los estilos de las hoja spor separado, ver que funcionan, y luego ir separándolos por módulos*/

/*Assides*/
.right-aside {
  position: fixed;
  bottom: 0;
  right: 5vh;
}
.left-aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom:0;
  left: 5vh;
}

.right-aside a {
  text-decoration: none;
  color: var(--titulo1);
  font-family: 'Fira Code','Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 0px;
  letter-spacing: 0.1em;
  writing-mode: vertical-rl;
  display: flex;
  z-index:1;

}
.left-aside a {
  text-decoration: none;
  color: var(--titulo1);
  writing-mode: inherit;
}

.left-aside li {
  padding: 10px 0;
  list-style-type: none;

}

.right-aside a:hover {
  transform: translateY(-3px);
  color: var(--verde);
}

.right-aside a::after, .left-aside::after {
  content: "";
  display: block;
  width: 1px;
  height: 150px;
  margin: 0px auto;
  background-color: var(--texto);
}

@media (max-width: 576px) {

  .left-aside, .right-aside {
    display: none;
  }
}

/*Button*/
.header-button {
  font-size: 16px;
  font-family: 'Fira Code','Space Grotesk', sans-serif;
  font-weight: 400;
  color: var(--verde);
  background-color: transparent;
  border-radius: var(--borderRadius);
  border: 1px solid var(--verde);
  margin-left: 15px;
  padding: 0.75rem 1rem;
  cursor: pointer;
  font-size: 13px;
}

button:hover {
   outline:none;
   background-color: rgba(100, 255, 218, 0.1);
}

/*Footer*/

/*Header*/
header {
  counter-reset: item;
}
header nav {
  display: flex;
  justify-content: space-between;
  /* align-content: center; */
  padding: 50px;
  font-size: 13px;
  position: relative;
}

header nav ol li {
  display: inline;
  flex-direction: row;
  /* align-items: baseline; */
  /* justify-content: baseline; */
  font-family: 'Fira Code','Space Grotesk', sans-serif;
  font-weight: 400;
  color: var(--titulo1);
  padding: 10px;
}

header nav ol li :hover {
  color: var(--verde);
  
}

header button{
  font-size: 13px;
}

header nav ol li ::before {
  counter-increment: item;
  content: "0" counter(item) ". ";
  color: var(--verde);
}


header nav ol li:last-child::before {
  content: "";
}



header a {
  text-decoration: none !important;
  color: inherit;
}

.contenedor-menu {
  display: flex;
  align-items: center;
}
@media (max-width: 576px) {
  header nav {
    padding-top: 30px;
    padding-left: 35px;
    padding-right: 35px;  
  }
}

/*MOBILE MENU MODAL*/

.mobile-menu-modal {
  background-color: #112240;
  width: 75%;
  height: 100vh;
  position: fixed;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-menu-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  counter-reset: mobile;
  font-family: 'Fira Code','Space Grotesk', sans-serif;
  font-weight: 400;
  color: var(--titulo1);
  padding: 10px;
}

.mobile-menu-bottom ul {
  text-align: center;
}
.mobile-menu-bottom ul li {
  font-size: 17px;
  color: var(--titulo1);

}
.mobile-menu-bottom ul li:last-of-type {
  font-size: 17px;
  color: var(--titulo1);
  padding-bottom: 2rem;
}

.mobile-menu-bottom ul li::before {
  counter-increment: mobile;
  content: "0" counter(mobile) ". ";
  color: var(--verde);
  font-size: 13px;
  display: block;
  padding-bottom: 5px;

}

@media (min-width: 768px) {
  .mobile-menu-toggle{
    display: none;
  }
  .mobile-menu-modal {
    display: none;
  }
}

@media (max-width: 768px) {
  .contenedor-menu {
    display: none;
  }
}

nav {
  align-items: center;
}

.mobile-menu-modal li {
  list-style-type: none;
  cursor: pointer;
  padding: 16px;
}

.mobile-menu-modal li:hover {
  color: var(--verde);
}
.mobile-menu-modal a {
  color: inherit;
  text-decoration: none;
}

.mobile-menu-top {
  width: auto;
  z-index: 2;
  position: absolute;
  top:0;
  right: 0;
  padding: 16px;
}


/*Numbered heading*/
h2 .numbered-heading {
  font-weight: 600;
  line-height: 1.1;
}

.numbered-heading {
  font-size: 32px;
  color: var(--titulo1);
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: clamp(26px,5vw,32px);
  white-space: nowrap;
}
.numbered-heading::before{
  counter-increment: section;
  content: "0" counter(section) ". ";
  color: var(--verde);
  font-size: 20px;
  font-family: 'Fira Code','Space Grotesk', sans-serif;
  font-weight: 400;
  position: relative;
  bottom: 3px;
  margin-right: 10px;
}

.numbered-heading::after {
  content: "";
  display: block;
  position: relative;
  top: -5px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: #233554; 
  box-sizing: inherit;
}
/*Project*/
.projects-section {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #112240;
  height: auto;
  max-width: 300px;
  min-height: 315px;
  padding: 2rem 1.75rem;
  border-radius: var(--borderRadius);
}

.project-top {
  display:flex;
  justify-content: space-between;
  font-size: 1.8rem;
}

.project-card h3 {
  color: var(--titulo1);
  padding: 25px 0 20px 0;
  font-size: 22px;
}
.project-card h3:hover  {
  color: var(--verde);
}

.project-card a:hover {
  text-decoration: none;
}
.project-card p {
  color: rgb(168, 178, 209);
  font-size: 18px;
  line-height: 1.3;
  
}

.project-card ul {
  margin-top: 20px;
}

.project-card ul li {
  list-style: none;
  display: inline;
  font-family: 'Fira Code','Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-right: 15px;
}


/*Tab button*/
.tab-button-inactive {
  background-color: inherit;
  font-size: 16px;
  font-family: 'Fira Code','Space Grotesk', sans-serif;
  font-weight: 400;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 42px;
  padding: 0px 20px 2px;
  border-left: 2px solid #233554;
  border-top: none;
  border-bottom: none;
  border-right: none;
  background-color: transparent;
  color: var(--texto);
  text-align: left;
  white-space: nowrap;
}

.tab-button-inactive:hover {
  border-left: 2px solid var(--verde);
  color: var(--verde);
  background-color: rgba(100, 255, 218, 0.1);
}


.tab-button-active {
  font-size: 16px;
  font-family: 'Fira Code','Space Grotesk', sans-serif;
  font-weight: 400;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: all 0.25cs cubic-beizer(0.645,0.045,0.355,1);
  display: flex;
  align-items: center;
  width: 100%;
  height: 42px;
  padding: 0px 20px 2px;
  border-top: none;
  border-bottom: none;
  border-right: none;
  background-color: transparent;
  text-align: left;
  white-space: nowrap;
  border-left: 2px solid var(--verde);
  color: var(--verde);
  background-color: rgba(100, 255, 218, 0.1);
}

@media (max-width: 992px) {
  .tab-button-active {
    font-size: 12px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid var(--verde);
    text-align: center;
  }
  .tab-button-active:hover {
    font-size: 12px;
    border-bottom: 2px solid var(--verde);
    border-left: none;
    color: var(--verde);
  }

  .tab-button-inactive {
    font-size: 12px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid var(--texto);
    text-align: center;
  }

  .tab-button-inactive:hover {
    border-bottom: 2px solid var(--verde);
    border-left: none;
    background-color: rgba(100, 255, 218, 0.1);
  }
}

@media (max-width: 992px) {
  .tab-button-inactive {
    font-size: 12px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid var(--texto);
  }

  .tab-button-inactive:hover {
    border-bottom: 2px solid var(--verde);
    border-left: none;
    background-color: rgba(100, 255, 218, 0.1);
  }
}

/*Trabajos*/
.jobs {
  display: flex;
  flex-direction: row;
}
.job-description {
  height: 260px;
  margin-left: 2rem;
}

.job-description h3 {
  color: var(--titulo1);
  padding-bottom: 6px;
  font-family: "Calibre", sans-serif;
  font-weight: 600;  
  font-size: 23px; 
}

.job-description h3 a {
  color: var(--verde);
  font-size: 23px; 
}

.job-description p {
  font-family: 'Fira Code','Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.job-description ul {
  padding-left: 30px;
  margin-top: 15px;
  margin-bottom: 10px;
  justify-content: baseline;
  align-items: baseline;
  
}

.job-description ul li {
  font-size: 20px;
  list-style-type: none;
  margin-bottom: 12px;
  padding-left: 30px;
  position: relative;
}

.job-description ul li::before{
  font-size: 20px;
  line-height: 1.3;
  content: "▹";
  position:absolute;
  left: 0px;
  top: 0px;
  color: var(--verde);
}

@media (max-width: 992px) {
  .jobs {
    display: block;
  }

  .jobs-slider {
    display: flex;
    border-bottom: 2px solid #233554;
    margin-bottom: 40px;
    margin-left: -2.1rem;
    margin-right: -2.1rem;
    overflow-x: auto;
  }
  
  .job-description {
    margin-left: 0;
  }
  .job-description p {
    font-size: 14px;
  }
  .job-description ul {
    padding-left: 0;
  }

  .job-description h3{
    font-size: 22px; 
  }

  .jobs ul li {
    font-size: var(--mobileFontSizeText);
  }
}
