header {
  counter-reset: item;
}
header nav {
  display: flex;
  justify-content: space-between;
  /* align-content: center; */
  padding: 50px;
  font-size: 13px;
  position: relative;
}

header nav ol li {
  display: inline;
  flex-direction: row;
  /* align-items: baseline; */
  /* justify-content: baseline; */
  font-family: 'Fira Code','Space Grotesk', sans-serif;
  font-weight: 400;
  color: var(--titulo1);
  padding: 10px;
}

header nav ol li :hover {
  color: var(--verde);
  
}

header button{
  font-size: 13px;
}

header nav ol li ::before {
  counter-increment: item;
  content: "0" counter(item) ". ";
  color: var(--verde);
}


header nav ol li:last-child::before {
  content: "";
}



header a {
  text-decoration: none !important;
  color: inherit;
}

.contenedor-menu {
  display: flex;
  align-items: center;
}
@media (max-width: 576px) {
  header nav {
    padding-top: 30px;
    padding-left: 35px;
    padding-right: 35px;  
  }
}

/*MOBILE MENU MODAL*/

.mobile-menu-modal {
  background-color: #112240;
  width: 75%;
  height: 100vh;
  position: fixed;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-menu-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  counter-reset: mobile;
  font-family: 'Fira Code','Space Grotesk', sans-serif;
  font-weight: 400;
  color: var(--titulo1);
  padding: 10px;
}

.mobile-menu-bottom ul {
  text-align: center;
}
.mobile-menu-bottom ul li {
  font-size: 17px;
  color: var(--titulo1);

}
.mobile-menu-bottom ul li:last-of-type {
  font-size: 17px;
  color: var(--titulo1);
  padding-bottom: 2rem;
}

.mobile-menu-bottom ul li::before {
  counter-increment: mobile;
  content: "0" counter(mobile) ". ";
  color: var(--verde);
  font-size: 13px;
  display: block;
  padding-bottom: 5px;

}

@media (min-width: 768px) {
  .mobile-menu-toggle{
    display: none;
  }
  .mobile-menu-modal {
    display: none;
  }
}

@media (max-width: 768px) {
  .contenedor-menu {
    display: none;
  }
}

nav {
  align-items: center;
}

.mobile-menu-modal li {
  list-style-type: none;
  cursor: pointer;
  padding: 16px;
}

.mobile-menu-modal li:hover {
  color: var(--verde);
}
.mobile-menu-modal a {
  color: inherit;
  text-decoration: none;
}

.mobile-menu-top {
  width: auto;
  z-index: 2;
  position: absolute;
  top:0;
  right: 0;
  padding: 16px;
}


