.right-aside {
  position: fixed;
  bottom: 0;
  right: 5vh;
}
.left-aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom:0;
  left: 5vh;
}

.right-aside a {
  text-decoration: none;
  color: var(--titulo1);
  font-family: 'Fira Code','Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 0px;
  letter-spacing: 0.1em;
  writing-mode: vertical-rl;
  display: flex;
  z-index:1;

}
.left-aside a {
  text-decoration: none;
  color: var(--titulo1);
  writing-mode: inherit;
}

.left-aside li {
  padding: 10px 0;
  list-style-type: none;

}

.right-aside a:hover {
  transform: translateY(-3px);
  color: var(--verde);
}

.right-aside a::after, .left-aside::after {
  content: "";
  display: block;
  width: 1px;
  height: 150px;
  margin: 0px auto;
  background-color: var(--texto);
}

@media (max-width: 576px) {

  .left-aside, .right-aside {
    display: none;
  }
}