header nav {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  font-size: 13px;
}

header nav ol li {
  display: inline;
  flex-direction: row;
  font-family: 'Fira Code','Space Grotesk', sans-serif;
  font-weight: 400;
  color: var(--titulo1);
  padding: 10px;
}

header nav ol li :hover {
  color: var(--verde);
  
}

header button{
  font-size: 13px;
}


header nav ol li ::before {
  counter-increment: section;
  content: "0" counter(section) ". ";
  color: var(--verde);
}

header a {
  text-decoration: none;
  color: inherit;
}
a{
  cursor: pointer;
}

main {
  margin: 0px auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  padding: 50px 150px;
  background-color: var(--background);
  font-family: "Calibre", sans-serif;
  font-weight: 400;  
  font-size: 20px;
}

h1 {
  font-family: "Calibre", sans-serif;
  font-weight: 600;
  color: var(--titulo1);
  font-size: 40px;
}

h2 {
  font-family: "Calibre", sans-serif;
  font-weight: 600;
  color: var(--titulo2);
  line-height: 1;
  font-size: 40px;
}

section {
  margin: 0px auto;
  padding: 100px 0px;
  max-width: 1000px;
}


.big-heading {
  margin: 0px;
  font-size: clamp(40px, 8vw, 80px);
}

.mini-heading{
  font-family: 'Fira Code','Space Grotesk', sans-serif;
  font-weight: 400;
  color: var(--verde);
  padding-bottom: 25px;

}

.know-me-button {
  font-size: 16px;
  font-family: 'Fira Code','Space Grotesk', sans-serif;
  font-weight: 400;
  color: var(--verde);
  background-color: transparent;
  border-radius: var(--borderRadius);
  border: 1px solid var(--verde);
  margin-left: 0;
  margin-top: 50px;
  padding: 1.25rem 1.75rem;
  cursor: pointer;
  font-size: 13px;
  /* cómo lo modifico luego? */

}

main section:first-of-type p:last-of-type {
  margin: 20px 0px 0px;
  max-width: 540px
}